*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background: url(/fondo.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;    
}
.contenedor{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border-bottom: 1px solid;
    padding: 5px;
}

.icon{
    border: 1px solid #000;
    padding: 5px;
    border-radius: 3px;
    background: black;
    color: white;
}
.elementos{
    display: flex;
    gap: 20px;
}
.boton{
    color: #000;
    font-size: 20px;
    font-weight: bold;
}
.boton:hover{
    color:#780000;
    border-bottom: 2px solid #012a4a;

}
header{
    background: white;
    height: 50px;
    opacity: 0.6;
}